*{
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    height: auto;
    background: url(imagenes/hojasFondo.jpg);
}

body > .header-cv {
width: 103%;
height: 4em;
background-color: rgb(30, 23, 47);
color: rgb(231, 230, 233);
}


.header-cv > .container-navbar{
    width: 100%;
    height: 10%;
    background-color: rgb(45, 1, 48);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo1, .navbar{
    width: 5%;
    right: 1rem;
    margin-left: 56%;
}

.logo1{
    margin-left: 11.5%;
    height: 55px;
    
}
.navbar{
    display: flex;
justify-content: space-around;
margin-right: -14%;

}

.navbar > li{
    list-style: none;

}

.navbar > li > a{
    text-decoration: none;
    color: inherit;
    width: 4.5rem;
    border-radius: 2px;
    border: groove 4px rgb(30, 23, 47);
    padding: 5px;
    float: right;
    margin-right: 42px;
    margin-top: -35%;

}
.navbar > li > a:hover {
background-color: rgb(30, 23, 47);
}
 
.buttons{

display: flex;
justify-content: space-around;
}
.buttons{
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height:60px;
    line-height: 60px;
    text-align:center;
    background: grey;
    color: whitesmoke;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    transition: all 4s ease-in-out;
}
.buttons a :hover{
    transform: scale(1.2);
}


.buttondowloand1{
    position: relative;
    width: 140px;
    height: 50px;
    background:rgb(109, 76, 213);
    border-radius: 10px;
    color:  rgb(231, 230, 233);
    margin-left: -35px;
    margin-top: -55px;
}


.products{
    width: 40%;
    height:45rem ;
background-color: rgb(46, 37, 80);
}
h1 {
color: rgb(255, 255, 255);
margin-bottom: -7% ;
padding: 17%;
font-size: 78px;
}

h2 {
    color: rgb(255, 255, 255);
    margin-bottom: -7em ;
    margin-left: 68px;
    padding: 17%;
    }



.buttons {
    display: flex;   
    background-color: rgb(46, 37, 80);
    width: 78%;
    height: -24px;
    border-color:rgb(85,78,111) ;
    border-radius: 12px;
    margin-top: 18%;
    margin-left: 44px;
}


.buttondowloand2{
    flex-direction: column;
    width: 140px;
    height: 50px;
    background:rgb(255, 255, 255);
    border-radius: 10px;
    color:  rgb(235, 102, 170);
    margin-left: 35px;
    margin-top: 1%;
}



.features{
    flex-direction: column;    
    width: 140px;
    height: 50px;
    background:rgb(46, 37, 80);
    border-radius: 10px;
    color:  rgb(231, 230, 233);
    margin-left: 35px;
    margin-top: 1%;
}

.phone{
    margin-top: -25%;
    margin-left: 35%;
}

.funcionalidades {
        width: 103%;
        height: 44em;
        background-color: azure;
  
}
.funcionalidades > img{
    width: 35rem;
    height: 25rem;
    margin-top: 15%;
    margin-left: 14%;
}

.funcionalidades > h1 {
    color: rgb(244, 20, 134);
    font-size: 5rem;
    margin-top: -55%;
    margin-left: 12%;
}
.funcionalidades > h2 {
    color: rgb(200, 102, 153);
    margin-top: -28%;
    margin-left: 45%;
   
}

.funcionalidades > p {
    color: rgb(0, 0, 0);
    margin-top: -15%;
    margin-left: 60%;
}
 .title2 {
    color: rgb(244, 20, 134);
    margin-top: 14px;
    margin-left: 62%;
}

 h3{
    justify-content: center;
    color: rgb(14, 13, 13);
    margin-left: 60%;

 }

 .window {
    display: inline-block;
    text-align: center;
    font-size: 7px;
    margin-top: 14px;
    margin-left: -24px;
 }

.plans {
    padding: 12px;
    margin-top: 0%;
    background-color: rgb(30, 23, 47);
    height: 125%;
    width: 101.5%;
}

h4 {
    justify-content:center;
    text-align: center;
    padding: 45px;
    font-size: 45px;
    margin-left: -4%;
    color: white;
}

h5 {
    justify-content:center;
    text-align: center;
    font-size: 25px;
    margin-left: 5%;
    color: white;
}


.contenedor{
    display: flex;
    flex-direction: row;
    padding: 78px;
    justify-content: space-around;

}

.card-container1, .card-container2, .card-container3{
    display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
   width: 250px;
   height: 369px;
   margin: 0 auto;
   background-color: rgb(255, 255, 255);
   padding: 20px;
   box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px #f4f2f2, 0 0 0 6px #fcf9f9, 0 0 0 8px #f9f5f7, 0 0 0 10px #eeeeee;
   border-top: 88px solid rgb(255, 255, 255);
   border-radius: 10px;
 margin-left: 45px;
 margin-top: 24px;
 padding: 15px;
}

.card-container1 > h1, .card-container2 > h1, .card-container3 > h1{
color: rgb(246, 51, 150);
margin-top: -14%;
font-size: 25px;
}



  .card-container2>button,  .card-container3>button {
    width: 140px;
    height: 50px;
    background:rgb(109, 76, 213);
    border-radius: 10px;
    color:  rgb(231, 230, 233);
    margin-left: -35px;
    margin-top: 5px  
}
.card-container1>button {
    width: 140px;
    height: 50px;
    background:rgb(246, 51, 150);
    border-radius: 10px;
    color:  rgb(231, 230, 233);
    margin-left: -35px;
    margin-top: 5px  
}


.final {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}   

.footer {
    display: flex;
    flex-direction: row;
 padding: 65px;
    justify-content: space-around;
}

 ul {
display: flex;
flex-direction: row;
 }
.p {
   margin-left: 4px;
   margin-top: 78%;
}
p span{
   color: rgb(241, 47, 146);
}

.social li {
    display: inline-block;
    padding: 0px;
    min-width: 12px;
    align-items: center;
    margin-top: 9%; 
    text-align: center;
    font-size: 28px;
    margin-left: 43%;
}


@media (max-width:480px) {
 .header-cv {
    padding-left: -45rem;
    width: 45rem;
    height: 78em;
 }

 body{
    width: 45px ;
    height: 12px;
}

 body > .header-cv {
    width: 21.5em;
    height: 15em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.logo1{
    margin-left: 62.5%;
    height: 68px;
    width: 65px;
    font-size: 48%;
    
}
 .navbar > li > a{
font-size: 9.5px;    
margin-top: 45px;
margin-left: -31px;
float: center;
width: 5em;


}
.buttondowloand1 {
margin-left: -19em;
margin-top: 84px;

}
.buttons{ 
    margin-top: 117px;
}

.phone{
    margin-top: 19px;
    margin-left: -3%;
    height: 24rem;
}

.products{
    width: 21.5rem;
    height:45rem


} 

.funcionalidades {
    margin-top: 44px;
    width: 21.4rem;
    height: 44em; 
}


.funcionalidades > img{ 
    height: 11rem;
    width: 15rem;
    padding: -74rem;   
   }

.funcionalidades > h1 {
margin-top: -6.9em ;
font-size: 41px;
margin-left: -14px;
padding: -72px;
}



 

.funcionalidades > h2 {
    margin-top: 7rem;
    margin-left: 5%;
   
}


.funcionalidades > p {
    margin-top: 7rem;
    margin-left: 5%;
   
}

.title2 {
    margin-top: 14px;
    margin-left: 22%;
}

 h3{
    justify-content: center;
    margin-left: 10%;

 }

 .plans {
    width: 20.1rem;
    height: 150rem;
}


h4 {
    justify-content:center;
    text-align: center;
    padding: 45px;
    font-size: 45px;
    margin-left: -4%;
    color: white;
}

h5 {
    justify-content:center;
    text-align: center;
    font-size: 25px;
    margin-left: 5%;
    color: white;
}


.contenedor{
    display: block;
    margin-left: -5rem;
    justify-content: space-around;

}

.card-container1, .card-container2, .card-container3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   margin: 74em;
   width: 250px;
   height: 369px;
   margin: 45px auto;
  
 margin-top: -14px;
 padding: 4px;
}

.card-container1 > h1, .card-container2 > h1, .card-container3 > h1{

margin-top: -4em;
font-size: 25px;

}



.card-container1 > p, .card-container2 > p, .card-container3 > p{
    margin-top: -25px;
    font-size: 11px;
    margin-left: 45px;
}
.card-container1 > li, .card-container2 > li, .card-container3 > li{
font-size: 11px;
margin-top: -45px;

}



  .card-container2>button,  .card-container3>button {
    width: 140px;
    height: 50px;
    background:rgb(109, 76, 213);
    border-radius: 10px;
    color:  rgb(231, 230, 233);
    margin-left: 5px;
    margin-top: 5px  
}
.card-container1>button {
    width: 140px;
    height: 50px;
    background:rgb(246, 51, 150);
    border-radius: 10px;
    color:  rgb(231, 230, 233);
    margin-left: 35px;
    margin-top: 5px 
}

 .final {
    width: 21.5rem;
    height: 100%;
    margin-top: -2.2rem;
    margin-left: -1rem;
}   

 .social li {
    font-size: 14px;
    display: flex;
    flex-direction: row-re;
    flex-wrap: wrap;
    padding: 0px;
    min-width: 12px;
    align-items: center;
    margin-top: 82%; 
    text-align: center;
    font-size: 28px;
    margin-left: 20%;
}


}



@media (max-width:920px) {
   
    .products{
        width: 21.5rem;
        height:45rem
    
    }
    .buttons{ 
        margin-top: 117px;
    }
    .phone{
        margin-top: -21rem;
        margin-left: 28%;
    }

    .funcionalidades {
        margin-top: 44px;
        width: 49rem;
        height: 44em; 
    }
    
    
    .funcionalidades > img{ 
        height: 19rem;
        width: 15rem;
        padding: -74rem;  
        margin-left: 44%;
       }
    
    .funcionalidades > h1 {
    margin-top: -13em ;
    font-size: 41px;
    margin-left: 5em;
    padding: -72px;
    }
    
    
    
     
    
    .funcionalidades > h2 {
        margin-top: 8rem;
        margin-left: 44%;
       
    }
    
    
    .funcionalidades > p {
        margin-top: 3rem;
        margin-left: 44%;
       
    }
    
    .title2 {
        margin-top: 14px;
        margin-left: 48%;
    }
    
     h3{
        justify-content: center;
        margin-left: 44%;
    
     }
     .plans {
        width: 47.5rem;
        height: 150rem;
    }

    .final {
        width: 48.5rem;
        height: 100%;


}

.social li {
    font-size: 25px;
}

.card-container1, .card-container2, .card-container3{
    height: 35.5rem;

 }


}