*{
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    height: auto;
    background: url(imagenes/hojasFondo.jpg);
}

body > .header-cv {
width: 103%;
height: 4em;
background-color: rgb(30, 23, 47);
color: rgb(231, 230, 233);
}


.header-cv > .container-navbar{
    width: 100%;
    height: 10%;
    background-color: rgb(45, 1, 48);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo1, .navbar{
    width: 5%;
    right: 1rem;
    margin-left: 56%;
}

.logo1{
    margin-left: 11.5%;
    height: 55px;
    
}
.navbar{
    display: flex;
justify-content: space-around;
margin-right: -14%;

}

.navbar > li{
    list-style: none;

}

.navbar > li > a{
    text-decoration: none;
    color: inherit;
    width: 4.5rem;
    border-radius: 2px;
    border: groove 4px rgb(30, 23, 47);
    padding: 5px;
    float: right;
    margin-right: 42px;
    margin-top: -35%;

}
.navbar > li > a:hover {
background-color: rgb(30, 23, 47);
}
 
.buttons{
min-width: px;
display: flex;
justify-content: space-around;
}
.buttons{
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height:60px;
    line-height: 60px;
    text-align:center;
    background: grey;
    color: whitesmoke;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    transition: all 4s ease-in-out;
}
.buttons a :hover{
    transform: scale(1.2);
}


.buttondowloand1{
    position: relative;
    width: 140px;
    height: 50px;
    background:rgb(109, 76, 213);
    border-radius: 10px;
    color:  rgb(231, 230, 233);
    margin-left: -35px;
    margin-top: -55px;
}


.products{
    width: 40%;
    height:45rem ;
background-color: rgb(46, 37, 80);
}
h1 {
color: rgb(255, 255, 255);
margin-bottom: -7% ;
padding: 17%;
font-size: 78px;
}

h2 {
    color: rgb(255, 255, 255);
    margin-bottom: -7em ;
    margin-left: 68px;
    padding: 17%;
    }



.buttons {
    display: flex;   
    background-color: rgb(46, 37, 80);
    width: 78%;
    height: -24px;
    border-color:rgb(85,78,111) ;
    border-radius: 12px;
    margin-top: 18%;
    margin-left: 44px;
}


.buttondowloand2{
    flex-direction: column;
    width: 140px;
    height: 50px;
    background:rgb(255, 255, 255);
    border-radius: 10px;
    color:  rgb(235, 102, 170);
    margin-left: 35px;
    margin-top: 1%;
}



.features{
    flex-direction: column;    
    width: 140px;
    height: 50px;
    background:rgb(46, 37, 80);
    border-radius: 10px;
    color:  rgb(231, 230, 233);
    margin-left: 35px;
    margin-top: 1%;
}

.phone{
    margin-top: -25%;
    margin-left: 35%;
}

.funcionalidades {
        width: 103%;
        height: 44em;
        background-color: azure;
  
}
.funcionalidades > img{
    width: 35rem;
    height: 25rem;
    margin-top: 15%;
    margin-left: 14%;
}

.funcionalidades > h1 {
    color: rgb(244, 20, 134);
    font-size: 5rem;
    margin-top: -55%;
    margin-left: 12%;
}
.funcionalidades > h2 {
    color: rgb(200, 102, 153);
    margin-top: -28%;
    margin-left: 45%;
   
}

.funcionalidades > p {
    color: rgb(0, 0, 0);
    margin-top: -15%;
    margin-left: 60%;
}
 .title2 {
    color: rgb(244, 20, 134);
    margin-top: 14px;
    margin-left: 62%;
}

 h3{
    justify-content: center;
    color: rgb(14, 13, 13);
    margin-left: 60%;

 }

 .window {
    display: inline-block;
    text-align: center;
    font-size: 7px;
    margin-top: 14px;
    margin-left: -24px;
 }

.plans {
    padding: 12px;
    margin-top: 0%;
    background-color: rgb(30, 23, 47);
    height: 125%;
    width: 101.5%;
}

h4 {
    justify-content:center;
    text-align: center;
    padding: 45px;
    font-size: 45px;
    margin-left: -4%;
    color: white;
}

h5 {
    justify-content:center;
    text-align: center;
    font-size: 25px;
    margin-left: 5%;
    color: white;
}


.contenedor{
    display: flex;
    flex-direction: row;
    padding: 78px;
    justify-content: space-around;

}

.card-container1, .card-container2, .card-container3{
    display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
   width: 250px;
   height: 369px;
   margin: 0 auto;
   background-color: rgb(255, 255, 255);
   padding: 20px;
   box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px #f4f2f2, 0 0 0 6px #fcf9f9, 0 0 0 8px #f9f5f7, 0 0 0 10px #eeeeee;
   border-top: 88px solid rgb(255, 255, 255);
   border-radius: 10px;
 margin-left: 45px;
 margin-top: 24px;
 padding: 15px;
}

.card-container1 > h1, .card-container2 > h1, .card-container3 > h1{
color: rgb(246, 51, 150);
margin-top: -14%;
font-size: 25px;
}



  .card-container2>button,  .card-container3>button {
    width: 140px;
    height: 50px;
    background:rgb(109, 76, 213);
    border-radius: 10px;
    color:  rgb(231, 230, 233);
    margin-left: -35px;
    margin-top: 5px  
}
.card-container1>button {
    width: 140px;
    height: 50px;
    background:rgb(246, 51, 150);
    border-radius: 10px;
    color:  rgb(231, 230, 233);
    margin-left: -35px;
    margin-top: 5px  
}


.final {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}   

.footer {
    display: flex;
    flex-direction: row;
 padding: 65px;
    justify-content: space-around;
}

 ul {
display: flex;
flex-direction: row;
 }
.p {
   margin-left: 4px;
   margin-top: 78%;
}
p span{
   color: rgb(241, 47, 146);
}

.social li {
    display: inline-block;
    padding: 0px;
    min-width: 12px;
    align-items: center;
    margin-top: 9%; 
    text-align: center;
    font-size: 28px;
    margin-left: 43%;
}




